.item-delete{
    cursor:pointer;
}

.strike{
    color:yellow;
    cursor: pointer;
}
.item-text{
    color:blue;
    cursor: pointer;
    margin-top: 10px;

}
#button_X:hover{
    color: red;
    width: 10%;
    height: 20px;
}
#todo_task{
    border:1px solid ;
    background-color:rgb(0, 123, 255);
    color: black;
}
